<div class="charDetails">
    <img src="{{character.image}}" class="charImage" />
    <h2>{{character.name}}</h2>
    <p>House: {{character.house}}</p>
    <p>Gender: {{character.gender}}</p>
    <p>Birthday: {{character.dateOfBirth}}</p>
    <p>Patronus: {{character.patronus}}</p>
</div>